<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Github Task</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <hr>
                <h1>Favourite language for a github user</h1>
                <hr>
                
                <form action="/" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input class="form-control col-6" name="username">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

                <br>

                <% if (locals.language) { %>
                    <div class="alert alert-success" role="alert">
                        Git hub user <b><%=username%></b> favourite language is: <b><%=language%></b>
                    </div>
                <% } %>

                <% if (locals.error) { %>
                    <div class="alert alert-danger" role="alert">
                        <%=error%>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</body>

</html>
